<ul class="list-group">
  <table style="width:100%" class="table table-striped">
    <thead class="thead-dark">
      <tr>
        <th>Employee</th>
        <th>Date</th>
        <th>Building</th>
        <th>Room</th>
        <th>Regular Hours</th>
        <th>Overtime Hours</th>
        <th>Total Hours</th>
        <th>Work Performed</th>
        <th>Complete</th>
        <th>
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
            <i class="fas fa-calendar-plus"></i>
          </button>
        </th>
      </tr>
    </thead>

    <%entries.forEach(function(item) { %>
    <% var doIt = true; %>
      <% if (package.filterBy == 'Employee') { %>
        <% if ((item.firstName + " " + item.lastName) != package.filterValue) { %>
          <% doIt = false; %>
        <%}%>
      <%}%>
      <% if (doIt) { %>
        <% totalHours = (item.regHours + item.otHours) %>
        <% var complete; if (item.complete == true) { complete = "Yes";}else{ complete = "No";} %>
        <% var date = item.datePerformed;%>
        <% var month = (date.getMonth() + 1); %>
        <% var day = date.getDate(); %>
        <% var year = date.getFullYear(); %>
        <tr>
          <td><%=item.firstName%> <%=item.lastName%></td>
          <td><%=month%>/<%=day%>/<%=year%></td>
          <td><%=item.building%></td>
          <td><%=item.room%></td>
          <td><%=item.regHours%></td>
          <td><%=item.otHours%></td>
          <td><%=totalHours%></td>
          <td><%=item.note%></td>
          <td><%=complete%></td>
          <td></td>
        </tr>
      <%}%>
  <%})%>
  </table>
  <br>
</ul>
<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">New Entry</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <% include ../newEntry %>
      </div>
    </div>
  </div>
</div>
<br>
