
<br><br>
<table style="width:100%" class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th>Employee</th>
      <th>Building</th>
      <th>Room</th>
      <th>Hours</th>
      <th>Note</th>
      <th></th>
    </tr>
  </thead>
<%result.forEach(function(item) { %>
    <tr>
      <td><%=item.firstName%> <%=item.lastName%></td>
      <td><%=item.building%></td>
      <td><%=item.room%></td>
      <td><%=item.hours%></td>
      <td><%=item.note%></td>
      <td><div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-ellipsis-v"></i>
          </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="#">Edit</a>
              <a class="dropdown-item" href="#">Delete</a>
            </div>
          </div>
        </td>
    </tr>
<%})%>
</table>
<br>
<% include ./partials/footer %>
